
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
GroupedItemsTake2/bin/Debug/GroupedItemsTake2.exe
GroupedItemsTake2/bin/Debug/GroupedItemsTake2.pdb
GroupedItemsTake2/obj/Debug/GroupedItemsTake2.exe
GroupedItemsTake2/obj/Debug/GroupedItemsTake2.g.resources
GroupedItemsTake2/obj/Debug/GroupedItemsTake2.pdb
GroupedItemsTake2/obj/Debug/MainView.baml
GroupedItemsTake2/obj/Debug/MainView.g.cs
GroupedItemsTake2/obj/Debug/MainView.g.i.cs
Tests/bin/Debug/GroupedItemsTake2.exe
Tests/bin/Debug/GroupedItemsTake2.pdb
Tests/bin/Debug/Tests.dll
Tests/bin/Debug/Tests.pdb
Tests/obj/Debug/Tests.csprojResolveAssemblyReference.cache
Tests/obj/Debug/Tests.dll
Tests/obj/Debug/Tests.pdb
GroupedItemsTake2/bin/Debug/GroupedItemsTake2.exe
GroupedItemsTake2/bin/Debug/GroupedItemsTake2.pdb
GroupedItemsTake2/obj/Debug/GeneratedInternalTypeHelper.g.cs
GroupedItemsTake2/obj/Debug/GroupedItemsTake2.csproj.FileListAbsolute.txt
GroupedItemsTake2/obj/Debug/GroupedItemsTake2.exe
GroupedItemsTake2/obj/Debug/GroupedItemsTake2.g.resources
GroupedItemsTake2/obj/Debug/GroupedItemsTake2.pdb
GroupedItemsTake2/obj/Debug/GroupedItemsTake2_MarkupCompile.lref
GroupedItemsTake2/obj/Debug/MainView.baml
GroupedItemsTake2/obj/Debug/MainView.g.cs
GroupedItemsTake2/obj/Debug/MainView.g.i.cs
Tests/bin/Debug/GroupedItemsTake2.exe
Tests/bin/Debug/GroupedItemsTake2.pdb
Tests/bin/Debug/Tests.dll
Tests/bin/Debug/Tests.pdb
Tests/obj/Debug/Tests.csprojResolveAssemblyReference.cache
Tests/obj/Debug/Tests.dll
Tests/obj/Debug/Tests.pdb
